$main-color: #36536B;
$light-grey: #6C8294;
$white-color: #FBFCFE;
$btn-bg: #BA4270;
$active-bg: #DA6D97;
$main-bg: #EDF3F8;
$text-size: 15px;
$text-line: 28px;
$content-color: #1B262F;
$heading-font: 'DM Serif Display';
$text-font: 'Public Sans';